:root {
    --navy: #1F2C34;
    --clay: #C07A55;
    --sage: #AAB99F;
    --stone: #E6E2DA;
    --charcoal: #2E2F2F;
}

/* Global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--stone);
    color: var(--charcoal);
}

/* Navigation */
nav {
    background-color: var(--navy);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
}

nav a:hover {
    color: var(--sage);
}

/* Hero */
.hero {
    background-color: var(--sage);
    padding: 4rem 2rem;
    text-align: center;
}

.hero h1 {
    color: var(--navy);
}

.button {
   background-color: var(--clay) !important;
    color: white !important;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.button:hover {
   background-color: var(--navy) !important;
    color: white !important;
}

/* Sections */
.content-section {
    padding: 2rem 3rem;
}

/* Footer */
footer {
    background-color: var(--navy);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}
